body 
{
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.title
{
	display: inline; 
}



.header li 
{
	list-style-type: none; 
	display: inline; 

}

.header li a 
{
	text-decoration: none; 
	color: grey;
}

.header li a:hover
{
	color: black;
}

.form_relation
{
	padding-top: 20px; 
	display: block;
}

.node
{
	border: 1px solid black;
	border-radius: 50%; 
	padding: 20px; 
	width: 50px; 
	text-align: center; 
}