body
{
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}


#title
{
	text-decoration: underline; 
	text-align: center;  
	font-size: 3em; 

	margin-left: 5px; 
}


#nav
{
	text-align: center; 
}

#nav li 
{
	list-style-type: none; 
	font-size: 1em; 
	/*border: 1px solid grey; */
	

	text-align: center; 
	margin: 5px; 
	display: inline;
}

.page-break 
{
	border: 1px solid #d3d3d3;

}

.space-maker
{
	/*margin-top: 10px; */
}

.family-starts ul li 
{
	display: inline-block; 
	border: 1px solid #d3d3d3; 
	/*border-radius: 15px; */
	padding: 2px; 
	cursor: pointer; 

	margin-left: 5px; 
}

.family-starts ul li:hover
{
	background-color: #d3d3d3; 

}


.family-line 
{
	
	display: none; 
}

.current-shown
{
	display: block; 
}

.stat_group h2
{
	display: inline; 
}

.prop
{
	background-color: #d3d3d3; 
	color: #d3d3d3;
}

#time-line
{
	border: 5px solid #d3d3d3; 
	padding: 10px; 
}

#min-date
{
	text-align: left; 
}

#max-date
{
	text-align: right; 
}

.time_plot
{
	position: absolute;

	background-color: grey; 
	width: 5px; 
	height: 5px; 
	color: grey;
	border-radius: 100%; 
	margin-top: 20px;

	font-size: 10px;  
}